body {
    background: #C30;
    margin: 0;
    padding: 0;
}

#cabecera {
    background-color: #DCDCDC;
    height: 40px;
    width: 100%;
}
.content {
    height: 100%;
    margin: 0 auto;
    /*padding: 16px;*/
    width: 1100px;
}
#menu {
    display: inline;
}

.btnEditar {
	background:url(../imagenes/edit2.png) no-repeat scroll 0 0 transparent;
	border: 0 none;
    cursor: pointer;
    height: 30px;
    width: 30px;
}

.btnBorrar {
	background:url(../imagenes/eliminar.png) no-repeat scroll 0 0 transparent;
	border: 0 none;
    cursor: pointer;
    height: 32px;
    width: 32px;
}

.btnAgregar {
    background: url("../imagenes/botones/btnAgregar.png") repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: pointer;
    height: 34px;
    width: 80px;
}
.btnAgregar:hover {
    background: url("../imagenes/botones/btnAgregarh.png") repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: pointer;
    height: 34px;
    width: 80px;
}
.btnModificar {
    background: url("../imagenes/botones/btnModificar.png") repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: pointer;
    height: 34px;
    width: 80px;
}
.btnModificar:hover {
    background: url("../imagenes/botones/btnModificarh.png") repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: pointer;
    height: 34px;
    width: 80px;
}
.btnEliminar {
    background: url("../imagenes/botones/btnEliminar.png") repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: pointer;
    height: 34px;
    width: 80px;
}
.btnEliminar:hover {
    background: url("../imagenes/botones/btnEliminarh.png") repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: pointer;
    height: 34px;
    width: 80px;
}

.active {
			color:#FFF;
		}
		
.active:hover {
			color:#FFF;
		}

/* Menu desplegable
------------------------------------------------------*/

#menubloque {
background: #FF2B30;
width: 900px;
height: 40px;
font-size: 16px;
color: #ffffff;
border: 1px solid #424242;
padding: 0px auto 0;
font-weight: bold;
text-decoration: none;
text-align: center;
text-transform: none;
font-style: italic;
margin: 15px auto 0;
font-family: "Trebuchet MS",sans-serif;
padding-left:33%;

}
#menudesplegable li {
margin: 0;
list-style: none;
padding: 0;
}
#menudesplegable {
margin: 0;
padding: 0;
-webkit-transition:color 2s; /* For Safari 3.1 to 6.0 */
transition:color 2s;
}
#menudesplegable ul {
float: left;
list-style: none;
margin: 0;
padding: 0;
}
#menudesplegable li a, #menudesplegable li a:link, #menudesplegable li a:visited {
color: #FFFFFF;
display: block;
font-weight: normal;
padding: 9px 15px 8px;
text-transform: none;
margin: 0;
-webkit-transition:color 2s; /* For Safari 3.1 to 6.0 */
transition:color 2s;
}
#menudesplegable li a:active, #menudesplegable li a:hover {
color: #000000;
/*background: #cccccc;*/
text-decoration: none;
margin: 0;
/*padding: 9px 15px 8px;*/
}
#menudesplegable li li a:link, #menudesplegable li li a, #menudesplegable li li a:visited {
color: #FFF;
font-weight: normal;
text-transform: none;
background: #000;
width: 128px;
float: none;
margin: 0;
padding: 7px 2px;
font-style:normal;
-webkit-transition:background 1s; /* For Safari 3.1 to 6.0 */
transition:background 1s;
}
#menudesplegable li li a:hover, #menudesplegable li li a:active {
background: #565656;
color: #fff;
padding: 7px 2px;
}
#menudesplegable li {
float: left;
padding: 0;
}
#menudesplegable li ul a {
width: 900px;
display: inline;
float:left;
}
#menudesplegable li ul {
position: absolute;
margin-left: -34%;
z-index: 9999;
left: -999em;
height: auto;
width: 900px;
padding: 0;
display: inline;
float:left;
font-size:11px;
font-family: Tahoma, Geneva, sans-serif;

}
#menudesplegable li:hover, #menudesplegable li.sfhover {
position: static;
}
#menudesplegable li ul ul {
margin: 0px 0px 0px -50px;
}
#menudesplegable li:hover ul ul, #nav li:hover ul ul ul, #nav li.sfhover ul ul, #nav li.sfhover ul ul ul {
left: -999em;

}
#menudesplegable li:hover ul, #menudesplegable li li:hover ul, #nav li li.sfhover ul,#menudesplegable li li li:hover ul, #menudesplegable li.sfhover ul, #menudesplegable li li li.sfhover ul {
left: auto;

}
/* Fin menu desplegable ---------------------------*/

#descripcionMenu {
	width:100%;
	height:130px;
	display:block;
	overflow: hidden;
}

#menu1,#menu2,#menu3,#menu4 {
	height:130px;
}

#menu1 h3,#menu2 h3,#menu3 h3,#menu4 h3 {
	text-shadow: 2px 2px 2px #999;
}

#menu3int {
	height:28px;
}

#menu3int a {
	float:left;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size:12px;
	margin-left:15px;
	color:#DC143C;
	font-weight:bold;
	border-left:2px double #DC143C;
	padding-left:15px;
}

#menu3int .ultimo {
	border-right:2px double #DC143C;
	padding-right:15px;
}
#sobreDiv {
	background:url(../imagenes/sobreDiv.jpg) repeat-x;
	height:16px;
	width:100%;
}

.style-4 input[type="text"] {
		  padding: 10px;
		  border: none;
		  border-bottom: solid 2px #c9c9c9;
		  transition: border 0.3s;
		}
		.style-4 input[type="text"]:focus,
		.style-4 input[type="text"].focus {
		  border-bottom: solid 2px #969696;
		}
		
		input[type="text"] {
    -moz-appearance: none;
    box-shadow: none;
    display: block;
    font-family: "Times New Roman", Times, serif;
	padding:5px;
    font-size: 14px;
    margin: 0;
    width: 100%;
	border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}
input[type="text"]:focus {
    outline: medium none;
}


/* Menu para el submenu de servicios */



#nav span {
	    display: none;
	}
	#nav, #nav ul {
	    list-style: none outside none;
	    margin: 0;
	    padding: 0;
	}
	#nav {
	    background-color: #F5F5F5;
	    border-bottom: 5px solid #333333;
	    float: left;
	    margin-left: 1%;
	    margin-right: 1%;
	    position: relative;
	    /*width: 85%;*/
	}
	#nav ul.subs {
	    background-color: #FFFFFF;
	    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
	    color: #333333;
	    display: none;
	    left: 0;
	    padding: 2%;
	    position: absolute;
	    top: 54px;
	    /*width: 81%;*/
	}
	#nav > li {
	    border-bottom: 5px solid transparent;
	    float: left;
	    margin-bottom: -5px;
	    text-align: left;
	    -moz-transition: all 300ms ease-in-out 0s;
	    -ms-transition: all 300ms ease-in-out 0s;
	    -o-transition: all 300ms ease-in-out 0s;
	    -webkit-transition: all 300ms ease-in-out 0s;
	    transition: all 300ms ease-in-out 0s;
	}
	#nav li a {
	    display: block;
	    text-decoration: none;
	    -moz-transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
	    -ms-transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
	    -o-transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
	    -webkit-transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
	    transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
	    white-space: normal;
	}
	#nav > li > a {
	    color: #333333;
	    display: block;
	    font-size: 12px;
	    line-height: 30px;
	    padding: 0 15px;
	    text-transform: uppercase;
	}
	#nav > li:hover > a, #nav > a:hover {
	    background-color: #F55856;
	    color: #FFFFFF;
	}
	#nav li.active > a {
	    background-color: #333333;
	    color: #FFFFFF;
	}


	/* submenu */
	#nav li:hover ul.subs {
	    display: block;
	}
	#nav ul.subs > li {
	    display: inline-block;
	    float: none;
	    padding: 10px 1%;
	    vertical-align: top;
	    width: 33%;
	}
	#nav ul.subs > li a {
	    color: #777777;
	    line-height: 20px;
	}
	#nav ul li a:hover {
	    color: #F55856;
	}
	#nav ul.subs > li > a {
	    font-size: 12px;
	    margin-bottom: 10px;
	    text-transform: uppercase;
	}
	#nav ul.subs > li li {
	    float: none;
	    padding-left: 8px;
	    -moz-transition: padding 150ms ease-out 0s;
	    -ms-transition: padding 150ms ease-out 0s;
	    -o-transition: padding 150ms ease-out 0s;
	    -webkit-transition: padding 150ms ease-out 0s;
	    transition: padding 150ms ease-out 0s;
	}
	#nav ul.subs > li li:hover {
	    padding-left: 15px;
	}


	/* responsive rules */
	@media all and (max-width : 980px) {
	    #nav > li {
	        float: none;
	        border-bottom: 0;
	        margin-bottom: 0;
	    }
	    #nav ul.subs {
	        position: relative;
	        top: 0;
	    }
	    #nav li:hover ul.subs {
	        display: none;
	    }
	    #nav li #s1:target + ul.subs,
	    #nav li #s2:target + ul.subs {
	        display: block;
	    }
	 
	    #nav ul.subs > li {
	        display: block;
	        width: auto;
	    }
	}
	

/* fin del submenu */



.big-slider-mask {
	margin-top:202px;
    height: 28px;
    left: 0;
    position: absolute;
    width: 100%;
}

.big-slider-mask .side {
    bottom: 0;
    height: 100%;
    overflow: hidden;
    position: absolute;
    width: 50%;
}

.big-slider-mask .left {
    left: 0;
}
.big-slider-mask .rectangle {
    height: 100%;
}
.big-slider-mask .triangle {
    bottom: -1px;
    height: 0;
    position: absolute;
    width: 0;
}
.big-slider-mask .left .rectangle {
    background: none repeat scroll 0 0 #FFFFFF;
    margin-right: 28px;
}
.big-slider-mask .left .triangle {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #FFFFFF #FFFFFF;
    border-image: none;
    border-style: solid;
    border-width: 20px;
    right: -2px;
}
.big-slider-mask .right {
    right: 0;
}
.big-slider-mask .right .rectangle {
    background: none repeat scroll 0 0 #FFFFFF;
    margin-left: 28px;
}
.big-slider-mask .right .triangle {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: rgba(0, 0, 0, 0) #FFFFFF #FFFFFF rgba(0, 0, 0, 0);
    border-image: none;
    border-right: 20px solid #FFFFFF;
    border-style: solid;
    border-width: 20px;
    left: -2px;
}

#izq {
	width:33%;
	float:left;
	padding: 10px 20px 20px 10px;
	padding-left:50px;
}

.menuServicios {
	font-weight:bold;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:1.1em;
	width:100%;
	border-bottom:1px dotted #999;
	padding-bottom:12px;
	padding-top:12px;
	margin-top:-10px;
	-webkit-transition:all 0.6s ease-out;  /* Chrome y Safari */
  -o-transition:all 0.6s ease-out;  /* Opera */
  -moz-transition:all 0.6s ease-out;  /* Mozilla Firefox */
  -ms-transition:all 0.6s ease-out;   /* Internet Explorer */
  transition:all 0.6s ease-out;  /* W3C */
}

.menuServicios:hover {
	cursor:pointer;
	background-color: #FF666A;
	padding-left:24px;
	color: #fff;
}


#der {
	width:65%;
	float:right;
	padding: 10px 20px 20px 10px;
	border-left:1px solid #a3a3a3;
	padding-left:19px;
}

#der p {
	text-indent: 1.5em;
	line-height:22px;
}

#der h5 {
	font-family: "MS Serif", "New York", serif;
	text-indent:1.5em;
	white-space:3px;
	line-height:20px;
	color: #666;
}

#serv1 > ul li {
	list-style-image: url(../imagenes/iconos/4.gif);
	padding-left:3px;
	padding-bottom:2px;
	padding-top:3px;
	font-family:Verdana, Geneva, sans-serif;
	color: #333;
	font-weight:bold;
	font-size:12px;
}


